{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать в сервис анализов финансов Fine 👋!</h1>
    <p class="lead">На этом сайте возможно проанализировать доходы / расходы / накопления за выбранные периоды.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Доходы 💰</h2>
        <p>{{current_income_sum}} ₽ ({{diff_inc}}%)</p>
    </div>
    <div class="col-md-4">
        <h2>Накопления 📈</h2>
        <p>{{cur_acc_inc}} ({{diff_acc}}%)</p>
    </div>
    <div class="col-md-4">
        <h2>Расходы 💸</h2>
        <p>{{current_expenses_sum}} ₽ ({{diff_exp}}%)</p>
    </div>
</div>
<p>* Все расчеты ведутся за аналогичный период предыдущего месяца</p>
<legend class="border-bottom mb-4"></legend>

{% include "utils/view_table.html" %}
<legend class="border-bottom mb-4"></legend>
{% include "utils/view_graph.html" %}
{% endblock %}


На главной вывести обшую статистику за неделю
В каждом оставшемся разделе вывести аналогическую статистику только по предметной области
